h1 .flex {
    display: flex;
    font-size: 3rem;
    color: #00645A;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.logo {
    background-color: white;
    padding: 5px 10px 10px 10px;
}
html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 300vh;
}
main {
    padding-top: 0;
    height: 100vh;
    width: 100%;
}
.headline {
    background-color: #00645A;
    padding-bottom: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    margin: none;
    width: 100%;
}
.cur {
    color: #00645A;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
body {
    background-color: azure;
}
.Desc {
    color: #00645A;
    font-size: 1.5rem;
    margin-left: 8%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}


.sect {
    height: 50vh;
    display: flex;
    padding-bottom: 20px;

}
.triplocation{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25vw;
    padding: 0;
    margin: 0;
    max-width: fit-content;
}
.btncontainer {
    position: relative;
    text-align: center;
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 0 0;
    height: 100%;

}
#btnimage + .option{
    height: 100%;
    font-weight: 14rem;
    width: 100%;
    margin: 0;
}
.btn + .option{
    display: block;
    opacity: 0.3;
    transition: opacity 0.3s ease;
}
.btncontainer .text {
    position: absolute;
    top: 10%;
    left: 10%;
    color: white;
    font-size: 35px;
    font-weight: bold;
}

.btn:hover + .option:hover{
    opacity: 1;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + .option {
    opacity: 1;
}



#destination {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

#destination:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}



label {
    text-align: center;
}

form {
    padding: 20px;
}

.fade {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade.visible {
    opacity: 1;
}

.radio-label {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer; /* Makes the label clickable */
    color: #00645A;
    font-size: 1.0rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
    opacity: 0.3;
    transition: opacity 0.3s ease;
}

.radio-input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 50px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    
}

.radio-input:checked::before {
    content: '';
    width: 12px;
    height: 12px;
    background-color: palegreen;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.radio-input:focus {
    outline: none;
    box-shadow: 0 0 3px 2px rgba(102, 175, 233, 0.6);
}

.selected {
    opacity: 1;
} 



.b {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;

}

.b:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

.divider {
    padding-top: 10vh;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    gap: 30px;
}
#tra_p {
    padding-top: 20px;
}
input[type="submit"] {
    background-color: #00645A; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
}

input[type="submit"]:hover {
    background-color: #02332e; /* Darker green on hover */
}
